* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --animation: all 0.3s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    color: #ffffff;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    cursor: pointer;
    transition: var(--animation);
}

.btn:hover {
    background: #ffffff;
    color: #2e80ce;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    background: #ffffff;
    color: #575f66;
    cursor: pointer;
    transition: var(--animation);
}

.control__btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #ffffff;
}

.control-next-icon {
    rotate: 180deg;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    text-align: right;
    color: #ffffff;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    margin-left: 0.6em;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 2px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
    transition: var(--animation);
}

.navbar__link:hover,
.navbar__link--active {
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    height: var(--height);
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero_images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.section__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* Service */
.service {
    padding: 170px 0;
}

.section__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--header-bg);
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

/* Service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    background: #ffffff;
    border-radius: 10px;
}

.service-item:hover {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    transition: var(--animation);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #eff6fd;
}

.service-item__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    color: var(--header-bg);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: var(--animation);
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* Work */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__desc {
    width: 460px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: var(--animation);
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
    color: #2e80ce;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.05);
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: var(--animation);
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--header-bg);
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background: #2e80ce;
    border-radius: 4px;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    width: 586px;
}

.install__heading {
    max-width: 489px;
}

.install__heading,
.install__desc {
    color: #ffffff;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: var(--header-bg);
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;

    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: var(--animation);
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px);
}

.news-item:hover .news-item__body {
    border-color: #ffffff;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    padding: 24px 24px 16px;
    background: #ffffff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    transition: var(--animation);
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #10375c;
}

.news-item__more:hover {
    color: #2e80ce;
}

/* Appointment */
.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    background: #f7fbff;
    padding: 100px 70px;
    text-align: center;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
}
