* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --animation: all 0.2s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    color: #ffffff;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    cursor: pointer;
    transition: var(--animation);
}

.btn:hover {
    background: #ffffff;
    color: var(--header-bg);
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    text-align: right;
    color: #ffffff;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    margin-left: 0.6em;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 2px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
    transition: var(--animation);
}

.navbar__link:hover,
.navbar__link--active {
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    height: var(--height);
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero_images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
